{% extends "fruit_app/base.html" %}
{% load static %}

{% block infos %}
<div class="info-section">
    <h2>Fruit Informationen:</h2>
    <p>Die Frucht (von lateinisch frūctus, in Fachwörtern -karp(o)- von altgriechisch καρπός) einer Pflanze ist die Gesamtheit der Organe, die aus einer Blüte hervorgehen und die die Pflanzensamen bis zu deren Reife umschließen. Früchte bilden prinzipiell nur die Pflanzen, die einen geschlossenen Fruchtknoten besitzen (Bedecktsamer = Angiospermen). Bei den Nacktsamern (Gymnospermen; hierzu gehören Nadelbäume und Ginkgo-Baum) entstehen nur freie Samen.</p>
</div>
{% endblock %}
